/* Typography & Text styles */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cccccc;
  background-color: #aa262600;
}

/* Links */
a {
  font-weight: normal;
  text-decoration: none; 
  color: #de6a40;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 3.6rem;
  margin-bottom: 0.5rem; /* Adjust space below the name */
  border-bottom: 1px solid #555; /* Thin line under the name */
  padding-bottom: 10px; /* Space between text and line */
}
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }

/* Layout */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}

/* Header, Content, and Footer Layout */
header {
  text-align: left;
  padding: 15px;
  padding-bottom: 3px;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.8);
}

/* Make content take up available space, pushing footer down */
#content {
  text-align: left;
  padding: 15px;
  padding-top: 0px;
  flex: 1;
  border-radius: 8px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.8);
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.75em;
}

/* Menu Links */
ul.main-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  justify-content: left;
  border-bottom: 1px solid #555; /* Thin grey line between links and content */
}
ul.main-menu li a {
  font-size: 2rem;
  border-bottom: solid transparent 3px;
  color: #cfd2da;
}
ul.main-menu li a:hover,
ul.main-menu li a.active {
  color: #FFFFFF;
  border-bottom-color: #EF6D3D;
}

/* Tab Content */
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

/* Background Image */
html {
  background:url(background.jpg) center center no-repeat fixed;
  background-size:cover;
}